# ===== POSTGRESQL =====
DB_USER=postgres
DB_PASS=your_password_here
DB_HOST=db
DB_PORT=5432
DB_NAME=meal_planner

# ===== JWT =====
SECRET_KEY_JWT=your_super_secret_key_change_me
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=90

# ===== ПУЛ СОЕДИНЕНИЙ =====
POOL_SIZE=20
MAX_OVERFLOW=20
ECHO_SQL=False